<!DOCTYPE html>
<html lang="en">

<%-include("../partials/head")%>
<body>
    <div class="container">
            <!--HEADER-->
            <%-include("../partials/header")%>
            <!--FIN HEADER-->
            <main>

                <!--MAIN-->  
                
<form  action="/products/edit/<%=productFound.id%>" method="POST" enctype="multipart/form-data">
    <div class="registro1">
        <label for="nombreProducto"></label>
        <label for="descripcion"></label>
        <!------PONER LOS ICONOS DE CADA INPUT ACA"-->
        
    </div>

    <div class="registro2">
        <h3>Editar producto</h3>

        <input class=inputsRegistro type="text" placeholder="Id Producto" name="id" value="<%= productFound.id %>">
       
        <input class=inputsRegistro type="text" placeholder="Nombre Producto" id="nombreProducto" name="nombre" value="<%= productFound.nombre %>">

       
        <textarea class="inputsRegistro" name="descripcion" id="" cols="60" rows="1" value="<%= productFound.descripcioon %>" > <%= productFound.descripcion %> </textarea><br>

      <!--Imagen-->
      <input type="file" name="avatar" id="avatar" ><br>
      <!---si no cargamos imagen se rompe...pero igualmente no la muestra-->

      <label for="" > Categoria</label>                         
                                <select class="inputsRegistro" name ="Categoria" id="categoria">
                                    
                                    <option value="Indumentaria">Indumentaria</option>
                                    <option value="Merchandising">Merchandising</option>
                                    <option value="Accesorios">Accesorios</option>
                                    
                                  </select>
      <!--No se muestra en las tarjetas de listS-->
     
     
     <!--Talle/ Dise침o / Cantidad (que sea un Select)-->

     <input class=inputsRegistro type="text" placeholder="Talle" id="talleProducto" name="talle" value="<%= productFound.talle %>"> 
     <input class=inputsRegistro type="text" placeholder="Dise침o" id="disenioProducto" name="disenio" value="<%= productFound.disenio %>">
     <input class=inputsRegistro type="text" placeholder="Cantidad" id="cantidadProducto" name="cantidad" value="<%= productFound.cantidad %>">
     
     <!--Precio (funci칩n de Miles)-->

     <input class=inputsRegistro type="text" placeholder="Precio" id="precioProducto" name="precio" value="<%= toThousand( productFound.precio )%>">


     <button class="enviar" value="enviar" type="submit">Edit치 tu producto en Vistete de Poder</button>
    
        <a class="aIngreso"href="\products">Ver tus productos</a>
   </div>
</form>
          
            </main>

            <%-include("../partials/footer")%>

    </div>

</body>
</html>