<!DOCTYPE html>
<html lang="en">
<%-include("../partials/head")%>

    <body>
        <div class="container">
            <!--HEADER-->
            <header>
                <%-include("../partials/header")%>

            </header>
            <!--FIN HEADER-->
            <html lang="es">

            <head>
                <meta charset="UTF-8">
                <title></title>
                <meta name="viewport"
                    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">


            </head>

            <body>
                <div class="container">
                    <div class="tituloMiCarrito">Mi carrito</div>
                    <div class="row">
                        <!-- Vista de carga productos desde la base de datos-->
                        <main id="items" class="mainProducto">
                            <% if (carrito !=undefined){%>
                                <h2>Carrito</h2>
                                <ul id="carrito" class="list-group">
                                    <% for(let i=0;products!=undefined && i < products.length; i++){ %>
                                        <li>
                                            
                                            <%= products[i].quantity.toString() %> x
                                            <%= products[i].products.name %>-
                                            $<%= products[i].products.price %>
                                            <form action="/carrito/destroy/<%= products[i].id %>?_method=DELETE" method="POST" >
                                                <button type="submit" style="margin-left: 1rem;">X</button>
                                            </form>
                                        </li>
                                    <% } %>
                                </ul>

                                <hr>
                                <!-- Precio total -->
                                <p class="text-right">Total: <span id="total"></span>&dollar;<%= products.reduce((accum,item) => accum + item.products.price, 0) %></p>
                                <form action="/carrito/vaciar/<%= carrito.id %>" method="POST" >
                                    <button type="submit" class="btn btn-danger">Vaciar</button>
                                </form>
                                <%}%>
                        </main>

                    </div>
                    <%-include("../partials/footer")%>
                </div>
            </body>

            </html>