<!DOCTYPE html>
<html lang="en">
  <%-include("../partials/head")%>

  <body>
    <div class="container-fluid">
      <!--HEADER-->
      <header><%-include("../partials/header")%></header>
      <!--FIN HEADER-->
      <html lang="es">
        <div class="container-fluid">
          <div class="tituloMiCarrito">Mi carrito</div>
          <div class="row">
            <!-- Vista de carga productos desde la base de datos-->
            <main id="items">
              <% if (carrito !=undefined){%>
              <!-- <h2>Carrito</h2> -->
              <ul id="carrito" class="list-group">
                <% for(let i=0;products!=undefined && i < products.length; i++){
                %>
                <li>
                  <div class="imagenCarrito">
                    <img
                      src="/images/imagesProducts/<%= products[i].products.image %> "
                      alt="<%= products[i].products.image %> "
                    />
                  </div>
                  <div class="datosProdCarrito">
                    <div class="cantidadCarrito">
                      <%= products[i].products.name %> x <%=
                      products[i].quantity.toString() %>
                    </div>
                    <div class="precioCarrito">
                      Precio: $<%= products[i].products.price %>
                    </div>
                    <button class="borrarProducto" style="margin-left: 1rem">
                        Borrar producto
                      </button>
                  </div>
                  
                </li>
                <% } %>
              </ul>

              <!-- Precio total COMO LO CALCULAMOS?-->
              <!-- <p >Total: Como calculamos valor total de productos? <span id="total"></span></p> -->
              <button class="botonTotal" class="btn btn-danger">
                Total: $ 0000
              </button>

              <!-- QUE ESTE BOTON ENVIE A CAMBIAR EL STATUS DEL CARRITO A CERRADO Y QUE RENDERICE UN MSJ DE FELICITACIONES, COMPRASTE EL PRODUCTO -->
              <button class="botonComprar" class="btn btn-danger">
                Comprar
              </button>
              <button id="boton-vaciar" class="btn btn-danger">Vaciar</button>

              <%}%>
            </main>
          </div>
          <%-include("../partials/footer")%>
        </div>
      </html>
    </div>
  </body>
</html>
