<!DOCTYPE html>
<html lang="en">

<%-include("../partials/head")%>
<body>
    <div class="container-fluid">
            <!--HEADER-->
            <header>
                <%-include("../partials/header")%>
                
            </header>
            <!--FIN HEADER-->
            <main>

                <!--MAIN-->  
                
<form  action="/users/edit/<%= usuarioAIngresar.id %>?_method=PUT" method=POST>
    <div class="registro1">
         <!-- <label for="id"><i class="fas fa-user"></i></label>-->
        <label for="nombre"><i class="fas fa-user"></i></label>
        <label for="email"><i class="fas fa-envelope"></i></label>
        
    </div>
    <% if (typeof errors!='undefined'){ %>
        <p style='color:red'>ERROR</p>
        <ul>
            <% for(i=0; i < errors.length; i++){ %>
            <li>
                <%=errors[i].msg %>
            </li>
            <% } %>
        </ul>

        <% } %>
    <div class="registro2">
        <h3>Editar cuenta</h3>

        <!--<input class=inputsRegistro type="text" placeholder="Id" name="id">-->

        <input class=inputsRegistro type="text" placeholder="Tu nombre" id="nombre" name="nombre" value="<%= usuarioAIngresar.name %>">
                 
        <input class="inputsRegistro" type="email" placeholder="Correo electrónico"id="email" name="email" value="<%= usuarioAIngresar.email %>">
                  
        
                     <!--Envían al home-->
        <button class="enviar" type="submit">Edita tu cuenta en Vistete de Poder</button>
    
      
   </div>
   
</form>

            </main>

            <%-include("../partials/footer")%>

    </div>

</body>
</html>