<!DOCTYPE html>
<html lang="en">

<%-include("../partials/head")%>
<body>
    <div class="container">
            <!--HEADER-->
            <header>
                <%-include("../partials/header")%>
                
            </header>
            <!--FIN HEADER-->
            <main>

                <!--MAIN-->  
                
<form  action="/users/edit/<%= userFound.id %>?_method=PUT" method=POST>
    <div class="registro1">
         <!-- <label for="id"><i class="fas fa-user"></i></label>-->
        <label for="nombre"><i class="fas fa-user"></i></label>
        <label for="email"><i class="fas fa-envelope"></i></label>
        <label for="contraseña"><i class="fas fa-lock"></i></i></label>
        <label class="ultimoLabel" for="confirmaciónContraseña"><i class="fas fa-lock"></i></label>
    </div>

    <div class="registro2">
        <h3>Editar cuenta</h3>

        <!--<input class=inputsRegistro type="text" placeholder="Id" name="id">-->

        <input class=inputsRegistro type="text" placeholder="Tu nombre" id="nombre" name="nombre" value="<%= userFound.nombre %>">
                 
        <input class="inputsRegistro" type="email" placeholder="Correo electrónico"id="email" name="email" value="<%= userFound.email %>">
                  
        <input class="inputsRegistro" type="password" placeholder="Contraseña" id="contrasenia" name="contrasenia"value="<%= userFound.contrasenia %>">
         
        <p class="textoContraseña">!La contraseña debe tener al menos seis caracteres</p> 
         
        <input class="inputsRegistro" type="password" placeholder="Vuelve a escribir la contraseña" id="contraseniaB" name="contraseniaB" value="<%= userFound.contraseniaB%>"> </p>
      
                     <!--Envían al home-->
        <button class="enviar" type="submit">Edita tu cuenta en Vistete de Poder</button>
    
        ¿Ya tenés una cuenta? 
     
        <a class="aIngreso"href="\ingreso">Iniciar sesión</a>
   </div>
</form>
          
            </main>

            <%-include("../partials/footer")%>

    </div>

</body>
</html>