<!DOCTYPE html>
<html lang="en">

<%-include("../partials/head")%>
<body>
    <div class="container-fluid">
            <!--HEADER-->
            <header>
                <%-include("../partials/header")%>
                
            </header>
            <!--FIN HEADER-->
            <main>

                <!--MAIN-->  
                
<form  action="/users/edit/<%= user.id %>?_method=PUT" method=POST>
    <div class="registro1">
         <!-- <label for="id"><i class="fas fa-user"></i></label>-->
        <label for="nombre"><i class="fas fa-user"></i></label>
        <label for="email"><i class="fas fa-envelope"></i></label>
        <label for="contrasenia"><i class="fas fa-lock"></i></i></label>
        <label class="ultimoLabel" for="confirmacionContrasenia"><i class="fas fa-lock"></i></label>
    </div>
    <% if (typeof errors!='undefined'){ %>
        <p style='color:red'>ERROR</p>
        <ul>
            <% for(i=0; i < errors.length; i++){ %>
            <li>
                <%=errors[i].msg %>
            </li>
            <% } %>
        </ul>

        <% } %>
    <div class="registro2">
        <h3>Editar cuenta</h3>

        <!--<input class=inputsRegistro type="text" placeholder="Id" name="id">-->

        <input class=inputsRegistro type="text" placeholder="Tu nombre" id="nombre" name="nombre" value="<%= user.name %>">
                 
        <input class="inputsRegistro" type="email" placeholder="Correo electrónico"id="email" name="email" value="<%= user.email %>">
                  
        <input class="inputsRegistro" type="password" placeholder="Escribe una nueva contraseña" id="contrasenia" name="contrasenia"value="">
         
        <p class="textoContraseña">!La contraseña debe tener al menos seis caracteres</p> 
         
        <input class="inputsRegistro" type="password" placeholder="Vuelve a escribir la contraseña" id="confirmacionContrasenia" name="confirmacionContrasenia" value=""> </p>
      
                     <!--Envían al home-->
        <button class="enviar" type="submit">Edita tu cuenta en Vistete de Poder</button>
    
        ¿Ya tenés una cuenta? 
     
        <a class="aIngreso"href="\ingreso">Iniciar sesión</a>
   </div>
   
</form>

            </main>

            <%-include("../partials/footer")%>

    </div>

</body>
</html>