<!DOCTYPE html>
<html lang="en">

<%-include("../partials/head")%>
<body>
    <div class="container-fluid">
            <!--HEADER-->
            <header>
                <%-include("../partials/header")%>
                
            </header>
            <!--FIN HEADER-->
            <main>

                <!--MAIN-->  
                
<form  action="/users/edit/<%= usuarioAIngresar.id %>?_method=PUT" method=GET>
    <!-- <div class="registro1">
     
        <label for="nombre"><i class="fas fa-user"></i></label>
        <label for="email"><i class="fas fa-envelope"></i></label>
        <label for="contrasenia"><i class="fas fa-lock"></i></i></label>
        <label class="ultimoLabel" for="confirmacionContrasenia"><i class="fas fa-lock"></i></label>
    </div> -->
    <% if (typeof errors!='undefined'){ %>
        <p style='color:red'>ERROR</p>
        <ul>
            <% for(i=0; i < errors.length; i++){ %>
            <li>
                <%=errors[i].msg %>
            </li>
            <% } %>
        </ul>

        <% } %>
    <div class="registro2">
        <h3>Mi cuenta</h3>

        <!--<input class=inputsRegistro type="text" placeholder="Id" name="id">-->
        <% if(usuarioAIngresar.image){ %>

        
            <section class="fotoUsuario">
              <article> <img src="/images/usersImages/<%= usuarioAIngresar.image %> " alt=" <%= usuarioAIngresar.image%> ">
                  
              </article>
          </section>
    
        <% }else{ %>
     

        <section class="fotoUsuario">
          <article> <img src="/images/usersImages/defaultImage.jpg"  alt="defaultImage.jpg">
              <!--no lo muestra-->
          </article>
      </section>
         <% }%> 

        <div class=inputsRegistro type="text" placeholder="Tu nombre" id="nombre" name="nombre" value="<%= usuarioAIngresar.name %>"> <%= usuarioAIngresar.name %></div> 
                 
        <div class="inputsRegistro" type="email" placeholder="Correo electrónico"id="email" name="email" value="<%= usuarioAIngresar.email %>"><%= usuarioAIngresar.email %></div>
                  
        
                     <!--Envían al home-->
        <button class="enviar" type="submit">Edita tu cuenta en Vistete de Poder</button>
    
       
    </div>
   
</form>

            </main>

            <%-include("../partials/footer")%>

    </div>

</body>
</html>